.slds-brand-band {
    background-color: #fff;
}
.shift4_setup-container {
    display: block;
    position: relative;
    text-align: center;
}

.shift4_logo {
    display: block;
    width: 10rem;
}

.shift4_setup-box {
    border-radius: 0.25rem;
}

.shift4_settings-col {
    background-color: #F3F3F3;
}

.shift4_settings-col .slds-box {
    background: white;
}

.shift4-settings-box .slds-input {
    padding-left: 12px;
}

.shift4-section > div:first-child {
    width: 700px;
}

.shift4-production, .shift4-testing {
    width: 700px;
}

.shift4-footer {
    gap: 30px;
}

.shift4-footer > div:first-child {
    width: 700px;
}

.shift4-box {
    background-color: white;
}

.slds-radio_button-group label.slds-radio_button__label {
    margin: 0;
}

.slds-radio_button-group .slds-radio_faux {
    line-height: 30px;
}

.shift4-box button.slds-button {
    border-color: #e5e5e5;
    padding-left: 1rem;
    padding-right: 1rem;
}

.shift4-box .slds-icon {
    fill: #747474;
}

.shift4-box .shift4-authorized .slds-icon {
    fill: rgb(46, 132, 74);
}

.shift4-connector-spinner {
    position: relative;
    transform: translateY(0px) scale(.5) translateX(-42px);
}

.shift4-toggle-integration_confirmation {
    top: 0;
    background: white;
    width: 100%;
    height: 100%;
}

.shift4-disconnect-confirmation  {
    top: 0;
    width: 100%;
    text-align: center;
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}